.league__header {
  display: flex;
  gap: 10px;
  background-color: aquamarine;
}
.league__desc {
  display: flex;
  gap: 10px;
}
.league__oddNames {
  display: flex;
  gap: 10px;
}

.league__oddNames--special {
  display: flex;
  gap: 10px;
}
