.league__header {
  display: flex;
  gap: 10px;
  background-color: #666666;
  color: white;
  align-items: center;
  height: 20px;
  padding: 15px 5px;
  box-sizing: border-box;
}
.league__date {
  flex: 1;
}
.league__desc {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 10px 0px 7px 0px;
}
.league__desc--logo {
  width: -moz-max-content;
  width: max-content;
  height: 50px;
}
.league__fixture {
  flex: 3;
  display: flex;
  justify-content: center;
}
.league__fixture--content {
  width: 85%;
  text-align: start;
}
.league__matchDesc {
  text-align: center;
  display: flex;
  flex: 1;
}
.league__oddNames {
  display: flex;
  flex: 2;
  background-color: #666666;
  gap: 10px;
}
.league__oddNames--main {
  display: flex;
  gap: 10px;
}
.league__oddNames--doubleChance {
  display: flex;
  gap: 10px;
}
.league__oddNames--totals {
  display: flex;
  gap: 10px;
}

.oddName {
  min-width: 35px;
  padding: 0px 11px;
  text-align: center;
  box-sizing: content-box;
}

@media screen and (max-width: 1200px) {
  .league__date {
    flex: 0.4;
  }
  .league__oddNames {
    flex: 1;
  }
  .league__fixture {
    flex: 1;
  }
  .league__oddNames--totals {
    display: none;
  }
  .league__oddNames--doubleChance {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .league__date {
    display: none;
  }
  .league__oddNames {
    flex: 1;
  }
  .league__fixture {
    flex: 1;
  }
}