<div class="leagues">
  <h2>{{ leagueName }}</h2>
  <section class="league__header">
    <div class="league__desc">
      <div>date</div>
      <div>fixture</div>
    </div>
    <div class="league__oddNames">
      <div>1</div>
      <div *ngIf="sportId === 1">X</div>
      <div>2</div>
      <div class="league__oddNames--special" *ngIf="sportId === 1">
        <div>1X</div>
        <div>12</div>
        <div>X2</div>
      </div>
      <div>under</div>
      <div>total</div>
      <div>over</div>
    </div>
  </section>
  <div class="league" *ngFor="let match of events">
    <app-match-preview [sportId]="sportId" [match]="match"></app-match-preview>
  </div>
</div>
