<div class="home">
  <app-auth></app-auth>

  <section class="home__main">
    <img
      *ngIf="!menu"
      class="home__main__menu"
      (click)="showMenu()"
      src="assets/images/icons/menu.png"
      alt=""
    />
    <router-outlet></router-outlet>
  </section>
  <section
    [ngClass]="menu ? 'open' : 'home__ticketsContainer'"
    class="home__ticketsContainer"
  >
    <img
      class="home__main__menu--close"
      (click)="showMenu()"
      *ngIf="menu"
      src="../../../assets/images/icons/close-white.png"
      alt=""
    />
    <app-ticket [user]="user"></app-ticket>
    <app-tickets *ngIf="user" [user]="user"></app-tickets>
  </section>
  <div (click)="showMenu()" *ngIf="menu" class="overlay"></div>
</div>
