<div class="details">
  <section class="details__match">
    <div class="details__home">{{ market!.home }}</div>
    <div class="details__date">
      <div class="details__date--date">{{ market!.starts | formatDate }}</div>
      <div class="details__date--time">
        {{ market!.starts | date : "HH:mm" }}
      </div>
      vs
    </div>
    <div class="details__away">{{ market?.away }}</div>
  </section>
  <div class="details__header">
    <ul>
      <li (click)="setOddsType('All')">All</li>
      <li (click)="setOddsType('I Half')">
        {{ sportId === 2 ? "I Set" : "I Half" }}
      </li>
      <li *ngIf="sportId !== 2" (click)="setOddsType('Goals')">
        {{ sportId == 1 ? "Goals" : "Points" }}
      </li>
    </ul>
  </div>

  <section class="odds details__odds--all" *ngIf="oddsType === 'All'">
    <app-all-odds
      [market]="market"
      [specialMarkets]="specialMarkets"
      [sportId]="sportId!"
    ></app-all-odds>
  </section>
  <section class="odds details__odds--first" *ngIf="oddsType === 'I Half'">
    <app-period
      class="period"
      [specialMarkets]="specialMarkets!"
      [period]="market?.periods?.num_1!"
      [firstHalf]="true"
      [single]="true"
      [sportId]="sportId!"
      [event_id]="market!.event_id"
      [awayTeam]="market!.away"
      [homeTeam]="market!.home"
      [starts]="market!.starts"
    ></app-period>
  </section>
  <section class="odds details__odds--goals" *ngIf="oddsType === 'Goals'">
    <app-period
      class="period"
      [specialMarkets]="goalSpecialMarkets"
      [period]="market?.periods?.num_0!"
      [event_id]="market!.event_id"
      [homeTeam]="market!.home"
      [awayTeam]="market!.away"
      [sportId]="sportId!"
      [starts]="market!.starts"
    ></app-period>
  </section>
</div>
