.totals {
  display: flex;
  gap: 10px;
}
.totals__total--select {
  box-sizing: border-box;
  height: 34px;
  min-width: 57px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  transition: background-color 0.3s;
  border: 1px solid black;
}
.totals__total--select:focus {
  outline: none;
}
.totals__total--select option {
  padding: 0 20px;
}
.totals__total--select:hover {
  background-color: #f2f2f2;
}

.odd {
  box-sizing: border-box;
  height: 34px;
  min-width: 57px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  line-height: 14px;
  transition: background-color 0.3s;
}
.odd:hover {
  background-color: #f2f2f2;
}