@import "../../../../../styles/mixins.scss";

.period {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;

  &__odds {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__spreads {
      display: flex;
    }
  }
}

.odd {
  @include oddStyle;
  width: max-content;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.odds {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
