<div class="period">
  <h2 *ngIf="firstHalf">{{ sportId === 2 ? "1st Set" : "1st Half" }}</h2>
  <div class="period__odds">
    <h3>Main line</h3>
    <section class="odds period__odds--moneyLine">
      <div (click)="addBet(home, 'Main Line', '1', firstHalf)" class="odd">
        <p>1</p>
        {{ home }}
      </div>
      <div
        (click)="addBet(home, 'Main Line', 'X', firstHalf)"
        class="odd"
        *ngIf="draw"
      >
        <p>X</p>
        {{ draw }}
      </div>
      <div (click)="addBet(home, 'Main Line', '2', firstHalf)" class="odd">
        <p>2</p>
        {{ away }}
      </div>
    </section>
  </div>
  <div class="period__odds">
    <h3>Double chance</h3>

    <section class="odds period__odds--doubleChance" *ngIf="!firstHalf && draw">
      <div
        (click)="
          addBet(+doubleChance.homeOrDraw, 'Double Chance', '1X', firstHalf)
        "
        class="odd"
      >
        <p>1X</p>
        {{ doubleChance.homeOrDraw }}
      </div>
      <div
        (click)="
          addBet(+doubleChance.homeOrAway, 'Double Chance', '12', firstHalf)
        "
        class="odd"
      >
        <p>12</p>
        {{ doubleChance.homeOrAway }}
      </div>
      <div
        (click)="
          addBet(+doubleChance.drawOrAway, 'Double Chance', 'X2', firstHalf)
        "
        class="odd"
      >
        <p>X2</p>
        {{ doubleChance.drawOrAway }}
      </div>
    </section>
  </div>

  <div class="period__odds">
    <h3>Totals</h3>

    <section
      class="odds period__odds--totals"
      *ngFor="let total of period?.totals | keyvalue"
    >
      <div
        (click)="
          addBet(total.value.under, total.value.points, 'Under', firstHalf)
        "
        class="odd"
      >
        <p>Under ({{ total.key }})</p>
        {{ total.value.under }}
      </div>
      <div
        (click)="
          addBet(total.value.over, total.value.points, 'Over', firstHalf)
        "
        class="odd"
      >
        <p>Over ({{ total.key }})</p>
        {{ total.value.over }}
      </div>
    </section>
  </div>

  <div class="period__odds">
    <h3>Spreads</h3>

    <section *ngFor="let spread of period?.spreads | keyvalue">
      <div class="odds period__odds--spreads" *ngIf="spread.value.home">
        <div
          class="odd"
          (click)="
            addBet(
              spread.value.home,
              spread.key[0] == '-' ? spread.key : '+' + spread.key,
              '1',
              firstHalf
            )
          "
        >
          <p>1 ({{ spread.key[0] == "-" ? spread.key : "+" + spread.key }})</p>
          {{ spread.value.home }}
        </div>
        <div
          class="odd"
          (click)="
            addBet(
              spread.value.home,
              spread.key[0] == '-' ? spread.key : '+' + spread.key,
              '2',
              firstHalf
            )
          "
        >
          <p>2 ({{ spread.key[0] == "-" ? spread.key : "+" + spread.key }})</p>
          {{ spread.value.away }}
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="specialMarkets">
    <app-special-markets
      [specialMarkets]="specialMarkets"
    ></app-special-markets>
  </div>
</div>
