.betslip {
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
  font-size: 17px;
  background-color: rgb(235, 235, 235);
}
.betslip__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.betslip__status {
  width: 12px;
  height: 12px;
}
.betslip__potentialPayout {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .betslip__potentialPayout {
    flex-direction: column;
  }
  .betslip__potentialPayout > :nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
  }
}
@media screen and (max-width: 500px) {
  .betslip__outcomes {
    font-size: 14px;
  }
}