<div class="betslip" *ngIf="betslip.bets.length > 0">
  <app-bet
    class="betslip__container"
    [bet]="bet"
    [isActive]="false"
    *ngFor="let bet of betslip.bets"
  ></app-bet>
  <section class="ticket__outcomes">
    <div class="ticket__bet">Bet amount - {{ betslip.total_stake }}₾</div>
    <div class="ticket__totalOdd">
      Total odd - {{ betslip.total_odd | formatDecimal }}
    </div>
    <div class="ticket__potentialPayout">
      potential payout - {{ betslip.potential_payout | formatDecimal }}
    </div>
  </section>
</div>
